<html>
    <head>
        <title>Practice</title>
    </head>
    <body>
        Display transaction data
        <form action="/" method="post">
            <input type="text" name="mkrequest" />
            <input type="submit" value="Go get it" />
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                Transactions:
                <pre>
                    {% for message in messages %}
{{message}}
                    {% endfor %}
                </pre>
            {% endif %}
        {% endwith %}
    </body>
</html>
